<% var CID = "-" + cid;  %>
<div class="list-header" id="list-header<%= CID %>">    
    <input class="cs-input txt-search" id="txt-search<%= CID %>" placeholder="<%= PlaceHolder %>"/>
    <div class="btn-clear" id="btn-clear<%= CID %>"><i class="icon-remove-sign"></i></div>
    <div class="btn-search" id="btn-search<%= CID %>"> 
        <img src="img/magnify.png" width="16" height="16" style="padding:7px;">
    </div>
    <div class="btn-add" id="btn-add<%= CID %>">
        <img src="img/add-icon.png" width="16" height="16" style="padding:7px;">
    </div>
</div>
<div class="list" id="list<%= CID %>"">
    <div class="list-wrapper" id="list-wrapper<%= CID %>">
    </div>
</div>