<div id="settings-manager">
	<br/>
	<ul data-role="listview" data-inset="true" data-theme="d">
		<li class="administrators-li"><a>Administrators<h1 class="ui-li-aside"><%= Administrators %></h1></a></li>
	</ul>
	<br/>
	<ul data-role="listview" data-inset="true" data-theme="d">
		<li class="discountOverrideLevel-li"><a>Discount<h1 class="ui-li-aside"><%= DiscountOverrideLevel %></h1></a></li>
		<li class="priceChangeOverrideLevel-li"><a>Price Change<h1 class="ui-li-aside"><%= PriceChangeOverrideLevel %></h1></a></li>
		<li class="transactionVoidOverrideLevel-li"><a>Void Transaction<h1 class="ui-li-aside"><%= TransactionVoidOverrideLevel %></h1></a></li>
		<li class="returnsOverrideLevel-li"><a>Returns<h1 class="ui-li-aside"><%= ReturnsOverrideLevel %></h1></a></li>
        <li class="autoAllocateOverrideLevel-li"><a>Auto Stock Allocation<h1 class="ui-li-aside"><%= AutoAllocateOverrideLevel %></h1></a></li>
	</ul>
</div>
