<!-- MJFIGUEROA 04-17-2013 -->

<div class="products-page" id="products-page">
    <div id="products-page-blockoverlay" class="blockOverlay" style="display: none; z-index:150; ">
        <center><div style="margin-top:300px;"><i class="icon-spinner icon-spin" style=" font-size:100px; color:Black"></i></div></center>
        <center><div class="overlay-message-container" style="display: none;"><div id="overlay-message" class="overlay-message">This may take a while.</div></div></center>
    </div>
    <!-- Add New Postal -->
    <div id="addPostalCodeContainer"></div>
    <!-- ItemLookup for OPENING BALANCE -->
	<div class="modal-panel-container" id="modal-panel-container">   </div>


    <!--HEADER-->  
    <div class="header" id="header">            
    </div>

    <!--BODY-->  
    <div class="body" id="body">
    </div>

    <div class="page-popup"></div>
 
    <div id="notification-overlay" class="z3000">
        <center>
            <div><i class="icon-ok">&nbsp; <span class="message"></span></i></div>
        </center>
    </div>
    <div class="blockOverlay" id="global-modal"> 
    </div>
     <div id="main-transaction-blockoverlay" class="blockOverlay" style="display: none;"></div>
</div>
 

