<a style=" padding: 5px 5px 5px 10px !important; width: 85% !important; ">
    <div class="product-list">
        <h3 style="font-weight: bold !important"><%= ItemNameDisplay %></h3>
        <div class="product-list-wrapper" style="padding: 5px 0px 5px;">
            <div class="dtl-left" style="float:left; width:65%">
                <div style="width: 100%; text-align:left; word-break: break-word; white-space:normal; overflow: hidden;">
                    <%= ItemDescriptionDisplay %>
                </div>
                <div style="width: 100%; text-align:left; word-break: break-word; white-space:normal; overflow: hidden;">
                    <%= UnitsInStock %>&nbsp;<%= UnitMeasureCode %>
                </div>
            </div>

            <div class="dtl-right" style="float:right; width:33%">
                <div style="width: 100%; text-align: right; word-break: break-word; white-space:normal; overflow: hidden; font-weight:bold">
                    <%= CurrencySymbol %>&nbsp;<%= format("#,##0.00", RetailPrice.toFixed(2)) %>
                </div>
                <div style="width: 100%; text-align: right; word-break: break-word; white-space:normal; overflow: hidden;">
                    <%= CategoryDescription %>
                </div>
            </div>
            <br class="clearfloat" />
        </div>
    </div>
</a>
<a id="select-lookup"></a>

<!--<a>
<div class="product-list">
	<h3><%= ItemNameDisplay %></h3>
	<div class="product-list-wrapper">
		<div class="product-item-left">
			<span class="lookup-ItemName"><%= ItemDescriptionDisplay.substring(0,50) %></span><br/>
			<span class="lookup-Units"><%= UnitsInStock %> <%= UnitMeasureCode %></span>
		</div>
		
		<div class="product-item-right">
			<span class="lookup-Retail"><%= CurrencySymbol %><%= RetailPrice %></span><br/>
			<span class="lookup-Category"><%= CategoryCode %></span>
		</div>
		<br class="clearfloat"/>
	</div>
</div>
</a>
<a id="select-lookup"></a>-->