<a>
<div class="product-list">
	<h3><%= ItemName %></h3>
	<div class="product-list-wrapper">
		<div class="product-item-left">
			<span class="lookup-ItemName"><%= ItemDescription.substring(0,70) %></span><br/>
			<!--span class="lookup-Units"><%= UnitsInStock %><span>   </span><%= UnitMeasureCode %></span-->
		</div>
		
		<!--div class="product-item-right">
			<span class="lookup-Retail"><%= CurrencySymbol %><%= Price %></span><br/>
			<span class="lookup-Category"><%= CategoryCode %></span>
		</div-->
		<br class="clearfloat"/>
	</div>
</div>
</a>
<!--a id="add-lookup"></a-->
