<div id="serialLot" class="interprise-popover-container">
	<div class="interprise-popover-header popover-header">
			<div class="popover-left">
				<a class="popover-btn" id="cancel-serialLot">Cancel</a>
			</div>
			<h1 id="serialLot-title"><%= SerialLotType %></h1>
			<div class="popover-right">
				<a class="popover-btn" id="done-serialLot">Done</a>
			</div>
	</div>
	<br class="clearfloat"/>
	<div id="serialLot-inner" class="interprise-popover-content">
		<div id="serialLot-header">
			<h5>Please enter <%= SerialLotType.toLowerCase() %> number(s) for '<%= ItemName %> (<%= UnitMeasureCode %>)'</h5>
			<input type="text" id="input-serialLot"/>
			<a id="add-serialLot">
				<!-- <img width="24" height="24" src="img/add-icon.png"> -->
				<i class="icon-plus"></i>
			</a>
		</div>
		<div id="serialLot-content">
			<div id="serialLot-scroll">
				
			</div>
		</div>
        <br/>
	</div>
</div>