<div data-role="fieldcontain">
    <label>Date</label>
    <input type="text" readonly="readonly" value="<%= FormattedDate %>" />
</div>
<div data-role="fieldcontain">
    <label>Type</label>
    <input type="text" readonly="readonly" value="<%= GiftType %>" />
</div>
<div data-role="fieldcontain">
    <label>Serial Number</label>
    <input type="text" readonly="readonly" value="<%= SerialLotNumber %>" />
</div>
<div data-role="fieldcontain">
    <label>Amount</label>
    <input type="text" readonly="readonly" value="<%= AmountPaid.toFixed(2) %>" class="input-number" />
</div>			