<div data-role="fieldcontain">
    <label>Date</label>
    <input type="text" readonly="readonly" value="<%= FormattedDate %>" />
</div>
<div data-role="fieldcontain">
    <label>Type</label>
    <input type="text" readonly="readonly" value="<%= PaymentType %>" />
</div>
<div data-role="fieldcontain">
    <label>Credit Card Number</label>
    <input type="text" readonly="readonly" value="<%= EncryptedCreditCardNumber %>" />
</div>
<div data-role="fieldcontain">
    <label>Expiration Date</label>
    <input type="text" readonly="readonly" value="<%= ExpDateMonth %> <%= ExpDateYear %>" />
</div>	
<div data-role="fieldcontain">
    <label>Name on Card</label>
    <input type="text" readonly="readonly" value="<%= NameOnCard %>" />
</div>	
<div data-role="fieldcontain">
    <label>Amount</label>
    <input type="text" readonly="readonly" value="<%= AmountPaid.toFixed(2) %>" class="input-number" />
</div>	
<div class="signatureDisplay-container" style="display: none">
	<label>Signature</label>
	<div class="signatureDisplay"></div>
</div>		