
<div id="logoutform" class="interprise-popover-container">
	<div class="interprise-popover-header popover-header">
		<div class="popover-left">
			<a class="popover-btn" id="logout-cancel">Cancel</a>			
		</div>
		<h1 id="lookup-title">User</h1>
		<div class="popover-right">
			<a class="popover-btn" id="logout-submit">Submit</a>			
		</div>
	</div>
	<br class="clearfloat"/>
	<div id="logoutformBody" class="interprise-popover-content">
		<div id="logoutformContent">
			<div data-role="fieldcontain">
			    <label for="logout-username">Username:</label>
			    <input type="text" id="logout-username"/>
			</div>
			<div data-role="fieldcontain">
			    <label for="logout-password">Password:</label>
			    <input type="password" id="logout-password"/>
			</div>
		</div>
	</div>
</div>