<!-- MJFIGUEROA 04-17-2013 -->
<!--HEADER CONTENT-->  
<div class="header-content" id="header-content">        
    <div class="cs-button back" id="back">Back</div> 
    <div id="title">Products</div>

    <div class="menu" id="menu">
        <div class="menu-item iwantto touchpop "id="iwantto">I Want To...</div>
        <div class="menu-item receivestock" id="receivestock">Receive Stock</div>
        <div class="menu-item adjuststock" id="adjuststock">Adjust Stock</div>
        <div class="menu-item products" id="products">Products</div>
        <div id="iwantoViewContainer"></div>
    </div>
</div>   

 
 

