
<div id="couponForm" class="interprise-popover-container">	
	<div class="interprise-popover-header popover-header">
			<div class="popover-left">
				<a class="popover-btn-back btn-Back"><span></span>Back</a>
			</div>
			<h1 class="title">Coupon</h1>
			<div class="popover-right">
				<a class="popover-btn btn-Done">Done</a>				
			</div>
	</div>	
	<br class="clearfloat"/>
	<div id="couponBody" class="interprise-popover-content">
		<div id="couponBodyContent">
			<ul data-role="listview" data-inset="true">			
				<li class="li-coupon">
					<a>Coupon Code<h1 class="ui-li-aside"><%= CouponCode %></h1></a>
				</li>
			</ul>
			<br />
			<ul data-role="listview" data-inset="true">
				<li>Description<h1 class="ui-li-aside"><%= Description %></h1></li>
				<li>Discount Type<h1 class="ui-li-aside"><%= DiscountType %></h1></li>
				<li>Coupon Computation<h1 class="ui-li-aside"><%= CouponComputation %></h1></li>
				<li>Discount Percent<h1 class="ui-li-aside"><%= DiscountPercentDisplay %></h1></li>
				<li>Discount Amount<h1 class="ui-li-aside"><%= DiscountAmountDisplay %></h1></li>
				<li>Minimum Amount<h1 class="ui-li-aside"><%= MinimumAmountDisplay %></h1></li>
			</ul>
			<br />
			<a data-role="button" data-theme="r" id="btn-remove-coupon">Remove</a>
		</div>
	</div>
</div>