<td align="left" class="td-invoicecode"><%= TransactionCode %></td>
<td align="left" class="td-customer"><%= FormattedBillToName %></td>
<td align="left" class="td-invoicedate"><%= FormattedDate %></td>
<td align="right" class="td-total"><%= CurrencySymbol + ' ' + format("#,##0.00", TotalRate.toFixed(2)) %></td>
<td align="right" class="td-balance"><%= CurrencySymbol + ' ' + format("#,##0.00", BalanceRate.toFixed(2)) %></td>
<!-- <td align="center" class="td-posted"><img src="img/checked@2x.png" style="height: 16px;width: 16px" /></td> -->