<div class="cartHeader">
	<table class="tape" cellspacing="0" width="100%" >
		<thead>
			<td class="itemName">ITEM</td>
			<td class="itemQty" >QTY</td>
			<td class="itemRemaining" style="display: none;">OUT</td>
			<td class="itemPrice">PRICE</td>
			<td class="itemDiscount">DISC</td>
			<td class="itemExtPrice">EXT</td>			
		</thead>
		<tbody>
			
		</tbody>
	</table>
</div>
<div class="cartContent" id="cartContent">
	<table id="cartListContainer" class="table" cellspacing="0" width="100%" >
	</table>
</div>
<div class="cartSummary">
	<!-- <div class="total-label">Total:</div>
	<div class="total-amount">0.00</div> -->
</div>
