<tr class="cart-details ">
    <td class="itemName" align="left" style="vertical-align: middle; border-bottom: none !important;">
      <div id="display-itemName" style="width:80%; display: table-cell;"><%= FormattedItemName %></div>
      <div id="display-kit" style="width:20%;  display: none; vertical-align: middle;">
        <a><i class="icon-chevron-up" style="font-size:18px;"></i></a>
      </div>
    </td>
    <td class="itemQty" style="vertical-align: middle; border-bottom: none !important;">
        <%= QuantityDisplay %>
    </td>
    <td class="itemRemaining" style="display: none; vertical-align: middle; border-bottom: none !important;">
        <%= Outstanding %>
    </td>
    <td class="itemPrice" style="vertical-align: middle; border-bottom: none !important;">
        <%= format("#,##0.00", SalesPriceRate.toFixed(2)) %>
    </td>
    <td class="itemDiscount" style="vertical-align: middle; border-bottom: none !important;">
        <%= DiscountAmountRate %>&nbsp;%
    </td>
    <td class="itemExtPrice" id="extPriceRate-td" style="vertical-align: middle; border-bottom: none !important;">
        <abbr><%= DisplayExtPriceRate %></abbr>
    </td>

</tr>
<tr class="cart-subitems-tax" style="display: <%= ShowTax %>">
    <td class="itemName" style="background: transparent !important; padding-left: 8px !important; border-bottom: none !important;"><%= TaxLabel %></td>
    <td class="itemQty" style="background: transparent !important; border-bottom: none !important;"> </td>
    <td class="itemRemaining" style="background: transparent !important; display: none; border-bottom: none !important;"> </td>
    <td class="itemPrice" style="background: transparent !important; border-bottom: none !important;"> </td>
    <td class="itemDiscount" style="background: transparent !important; border-bottom: none !important;"><%= TaxAmount %></td>
    <td class="itemExtPrice" style="background: transparent !important; border-bottom: none !important;"> </td>

</tr>
<tr class="cart-subitems-coupon" style="display: <%= ShowCoupon %>;  ">
    <td class="itemName" style="background: transparent !important; padding-left: 8px !important; border-bottom: none !important;"><%= FormattedCouponCode %></td>
    <td class="itemQty" style="background: transparent !important; border-bottom: none !important;"> </td>
    <td class="itemPrice" style="background: transparent !important; border-bottom: none !important;"> </td>
    <td class="itemDiscount" style="background: transparent !important; border-bottom: none !important;"><%= FormattedCouponDiscountAmount %></td>
    <td class="itemExtPrice" style="background: transparent !important; border-bottom: none !important;"> </td>

</tr>
<tr class="row-divider">
    <td class="itemName" style="background: transparent!important"></td>
    <td class="itemQty" style="background: transparent!important"> </td>
    <td class="itemRemaining" style="background: transparent!important;display: none;"> </td>
    <td class="itemPrice" style="background: transparent!important"> </td>
    <td class="itemDiscount" style="background: transparent!important"></td>
    <td class="itemExtPrice" style="background: transparent!important"> </td>
</tr>
