<div id="settings-general">
	<br />
	<ul data-role="listview" data-theme="d" data-inset="true">
		<li id="workstation-preference-btn"><a>Workstation ID<h1 class="ui-li-aside"><%= WorkstationID %></h1> </a></li>
	</ul>
	<br />
	<ul data-role="listview" data-theme="d" data-inset="true">
		<li id="customer-preference-btn"><a>Default Customer<h1 class="ui-li-aside"><%= FormattedCustomerName %></h1> </a></li>
		<li id="location-preference-btn"><a>Default Location<h1 class="ui-li-aside"><%= DefaultLocation %></h1> </a></li>
		<!-- <li id="salestaxexempt-preference-btn"><a>Sales Tax Exempt<h1 class="ui-li-aside"><%= SalesExemptTaxCode %></h1> </a></li> -->
        <li id="pos-preference-btn"><a>Default Transaction<h1 id ="DefaultPOSTransaction" class="ui-li-aside"></h1> </a></li>
		<!-- <li id="kiosk-preference-btn"><a>Default Kiosk Transaction<h1 id ="KioskDefaultTransaction"class="ui-li-aside"></h1> </a></li> -->
	</ul>
	<br />
	<ul data-role="listview" data-theme="d" data-inset="true">
		<li>Allow Sales<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AllowSales"></h1></li>
		<li>Allow Quotes<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AllowQuotes"></h1></li>
		<li>Allow Orders<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AllowOrders"></h1></li>
		<li>Allow Returns<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AllowReturns"></h1></li>
		<li>Allow Change Price<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AllowChangePrice"></h1></li>
		<li id="li-AllowAddCustomer">Allow Add Customer<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AllowAddCustomer"></h1></li>
		<li id="li-AllowChangeClassTemplate" >Allow Change Class Template<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AllowChangeClassTemplate"></h1></li>
        <li>Allow Change Payment Term<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AllowChangePaymentTerm"></h1></li>
        <li>Allow Change Tax Code<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AllowChangeTaxCode"></h1></li>
		<li>Allow VAT Invoice<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AllowTaxOnLineItems"></h1></li>
		<!-- Sample iOS 7 checkswitch -->
		<!-- <li>Allow VAT Invoice<h1 class="ui-li-aside checkswitch"><input type="checkbox" checked></h1></li> -->
	</ul>
	<!-- <br />
	<ul data-role="listview" data-theme="d" data-inset="true">
		<li>Allow Sale Of Out-Of-Stock Items in Kiosk<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AllowSaleOfOutOfStockItems"></h1></li>
	</ul>	 -->
	<br />
	<ul data-role="listview" data-theme="d" data-inset="true">
		<li>Use Customer Ship To Payment Type for Credit Card payment<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="IsUseCustomerShipToPaymentType"></h1></li>
		<li id="gateway-preference-btn"><a>Merchant Login<h1 class="ui-li-aside"><%= MerchantLogin %></h1> </a></li>
		<li id="paymenttype-preference-btn"><a>Payment Type<h1 class="ui-li-aside"><%= PaymentType %></h1> </a></li>
	</ul>

	<br />
	<ul data-role="listview" data-theme="d" data-inset="true">
		<li>Deposit Cash/Check Payment<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="IsDepositPayment"></h1></li>
        <li>Log Off User After Each Transaction<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AutoSignOutUser"></h1></li>
		<li>Override Sales Rep<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="IsOverrideSalesRep"></h1></li>
		<li>Tax By Location<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="TaxByLocation"></h1></li>
        <li>Show Coupon List<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="ShowCouponList"></h1></li>
		<li>Show Wholesale Price<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="ShowWholesalePrice"></h1></li>
        <li id="li-UseCashDrawer">Use Cash Drawer<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="UseCashDrawer"></h1></li>
        <li>Use Item Description<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="IsUseItemDescription"></h1></li>
	</ul>
	<br />

    <ul data-role="listview" data-inset="true" data-theme="d">
		<li><div id = "track-drawer-bal-container">Track Drawer Balance<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="TrackDrawerBalance"></h1></div></li>
		<li id ="BlindClose-li"><div id = "BlindClose-container">Blind Close<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="BlindClose"></h1></div></li>
        <li id = "AllowViewZXTape-li"><div id = "AllowViewZXTape-container">Allow non-admin user to view Print Z-Tape/X-Tape<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="IsAllowViewZXTape"></h1></div></li>
	</ul>
	<br/>

	<ul data-role="listview" data-theme="d" data-inset="true">
        <li id="website-preference-btn"><a>WebSite<h1 class="ui-li-aside"><%= WebSiteDescription %></h1> </a></li>
		<li>Use CBE Image<h1 class="ui-li-aside checkswitch"><input type="checkbox" id="IsUseISEImage"></h1></li>
		<li id="image-size-preference-btn"><a>Image Size<h1 id ="ISEImageSizeContent" class="ui-li-aside"></h1> </a></li>
	</ul>
	<br/>
	<ul data-role="listview" data-theme="d" data-inset="true">
		<li>Ask for Customer PO <h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AskForCustomerPO"></h1></li>
		<li>Ask for Ship Date <h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AskForShipDate"></h1></li>
		<li>Ask for Source <h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AskForSource"></h1></li>
	</ul>
	<br />
	<ul data-role="listview" data-theme="d" data-inset="true">
		<li>Manage Pickup Orders <h1 class="ui-li-aside checkswitch"><input type="checkbox" id="IsTrackStorePickUp"></h1></li>
		<li id="order-expiration-btn"><span>Order Expiration (Days)</span>  <h1 class="ui-li-aside "><input type="text" maxlength="4" id="OrderExpiration" value="<%= parseInt(OrderExpiration||0) %>"></h1></li>
		<li id="notification-interval-btn">
			<span>Notification Interval (Minutes)</span>
			<h1 class="ui-li-aside "><input type="text" maxlength="2" id="NotificationInterval" value="<%= parseInt(NotificationInterval||0) %>"></h1>
		</li>
		<li id="email-preference-btn"><a>Pickup Order Notification Email Template<h1 class="ui-li-aside"></h1> </a></li>
	</ul>
	<br />
    <br/>
</div>
