

<div id="rechargeGCardForm" class="interprise-popover-container gcardForm">
	<!-- header --> 
    <div class="interprise-popover-header">
        <div class="popover-left"> 
        	<a id="btn-cancel" class="popover-btn left-popover-btn btn-cancel">Close</a>
        </div>
            <h1 class="title">Gift Card</h1>
        <div class="popover-right" style="display: none;"> 
        	<a id="btn-done" class="popover-btn right-popover-btn btn-done">Done</a>
        </div>
    </div>
    <!-- header -->
	
	<br class="clearfloat"/>
	<div id="recharge-giftcard-body" class="interprise-popover-content" data-role="fieldcontain">
		<div data-role="fieldcontain">
		    <label for="gift-card-input">Gift Card</label>
		    <input id="gift-card-input" type="password" value="<%= SerialLotNumber %>" />
		    <a id="text-couponClearBtn" class="clearTextBtn" ></a>
		</div>
		
		<div data-role="fieldcontain" id="balance-container" style="display:none;">
		    <label for="balance-input">Balance</label>
		    <input id="balance-input" style="text-align: right;" type="text" value="<%= format('#,##0.00', CreditAvailableRate.toFixed(2)) %>" readonly="true" />
		    <a id="text-couponClearBtn" class="clearTextBtn" ></a>
		</div>
		
		<div data-role="fieldcontain" id="amount-container" style="display:none;">
		    <label for="amount-input">Amount</label>
		    <input id="amount-input" type="text" style="text-align: right;" value="0.00" />
		    <a id="text-couponClearBtn" class="clearTextBtn" ></a>
		</div>
		
		<div id="gc-button-container">
			<a id="recharge-btn" class="recharge-btn blue-btn">View Details</a>
		</div>
	</div>
</div>