<div id="kit-configurator" class="interprise-popover-container">
  <div class="interprise-popover-header popover-header">
    <h1 id="kit-configurator-title">Kit Configurator</h1>
    <div class="popover-left">
      <a class="popover-btn" id="cancel">Cancel</a>
    </div>
    <div class="popover-right">
      <a class="popover-btn" id="done">Done</a>
    </div>
  </div>
  <div class="clearfloat"></div>
  <div id="kit-configurator-inner" class="interprise-popover-content">
    <div id="kit-configurator-content">
      <div id="kit-configurator-info">
        <div class="kit-left">
          <h2>Kit Code: <%= KitItemCode %></h2>
          <h3>Description: <%= KitDescription %></h3>
        </div>
        <div class="kit-right">
          <div>
            <h2>Quantity:</h2>
						<input type="number" value="<%= Quantity %>" min="1" id="qty"/>
          </div><br class="clearfloat"/>
          <!-- <div>
            <h2>Total: </h2>
            <h3 id="total"><%= Currency %><span><%= Total %></span></h3>
					</div> -->
        </div>
      </div>
      <div id="kit-configurator-list" class="kit-left">
        <ul data-inset="true" data-role="listview"> 
        </ul>
      </div>
      <div id="kit-configurator-preview">
        <ul data-inset="true" data-role="listview"> 
        </ul>
      </div>
    </div>
  </div>
</div>
