<tr id="<%= obIndex %>">
       	<td colspan="1">Item Name : </td>
       	<td class="td-itemname" colspan="4" style="text-align: left; width: 70%;"><input placeholder="Tap here to select an item.." readonly="readonly"  class="data-upc" value="<%= ItemName %>"/></td>
</tr>
<tr id="<%= obIndex %>">	
	<td class="td-tdate" ><input type="date" placeholder="mm/dd/yyyy" "class="data-ob-code" value="<%= ConvertedTransactionDate %>"/></b></td>
    <td class="td-obcode"><b><input class="data-ob-code" value="<%= OpeningBalanceCode %>"/></b></td>
    <td class="td-location"><select class="data-location"></select></td>
    <td class="td-quantity"><input  type="text"  class="data-quantity" value="<%= Quantity %>"/></td>
    <td class="td-cost"><input  type="text"data-cost" value="<%= Cost %>"/></td> 
    <td class="del"><div id="btn-del"><center><i class="icon-trash" ></i></center></div></td>
</tr>
