<div id="settings-page">
	<div id="settings-blockoverlay" class="blockOverlay" style="display: none; z-index: 999"></div>
	<div id="settings-left-pane">
		<div class="settings-toolbar-header">
			<h1>Settings</h1>
			<a id="back-main" class="back-settings-main"><span></span>Back</a>
		</div>
		<div id="left-pane-content">
			<ul data-role="listview">
				<li id="general-settings"><img src="img/settings-general@2x.png" width="30" height="30" alt="" class="ui-li-icon"/>General</li>
				<li id="category-settings"><img src="img/settings-category@2x.png" width="30" height="30" alt="" class="ui-li-icon"/>Category</li>
				<li id="discount-settings"><img src="img/settings-discount@2x.png" width="30" height="30" alt="" class="ui-li-icon"/>Discount</li>
				<li id="override-settings"><img src="img/settings-manageroverride@2x.png" width="30" height="30" alt="" class="ui-li-icon"/>Manager Override</li>
				<!--<li id="creditcard-settings"><img src="img/settings-creditcard@2x.png" width="30" height="30" alt="" class="ui-li-icon"/>Credit Card</li>-->
				<li id="reason-settings"><img src="img/settings-reason@2x.png" width="30" height="30" alt="" class="ui-li-icon"/>Reason Code</li>
				<li id="receipt-settings"><img src="img/settings-receipt@2x.png" width="30" height="30" alt="" class="ui-li-icon"/>Receipt</li>
				<li id="signature-settings"><img src="img/settings-signature@2x.png" width="30" height="30" alt="" class="ui-li-icon"/>Signature</li>
				<li id="user-settings"><img src="img/settings-useraccounts@2x.png" width="30" height="30" alt="" class="ui-li-icon"/>User Accounts</li>
				<!--<li id="misc-settings"><img src="img/settings-miscellaneous@2x.png" width="30" height="30" alt="" class="ui-li-icon"/>Miscellaneous</li>-->
			</ul>
		</div>
	</div>

	<div id="settings-right-pane">
		<div class="settings-toolbar-header">
				<h1 id="settings-title">General</h1>
				<a id="back-general" class="back-settings-main" style="display: none"><span></span>Back</a>
		</div>
		<div id="right-pane-content">

		</div>

	</div>

	<br class="clearfloat"/>

		<!-- Closing Amount -->
	 <div id="closingAmountContainer"></div>

	<!-- Print Preview -->
	 <div id="printPreviewContainer"></div>
     <div id="printSetupContainer"></div>
     <div id="confirmPasswordContainer"></div>

</div>

<!-- <div id="settings-page" class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li id="general-settings"><!-- <img src="img/settings-general@2x.png" width="30" height="30" alt=""/> --><!--<a>General</a></li>
	<!--<li id="category-settings"><!-- <img src="img/settings-category@2x.png" width="30" height="30" alt=""/> --><!--<a>Category</a></li>
	<!--<li id="discount-settings"><!-- <img src="img/settings-discount@2x.png" width="30" height="30" alt=""/> --><!--<a>Discount</a></li>
	<!--<li id="override-settings"><!-- <img src="img/settings-manageroverride@2x.png" width="30" height="30" alt=""/> --><!--<a>Manager Override</a></li>
	<!--<li id="reason-settings"><!-- <img src="img/settings-reason@2x.png" width="30" height="30" alt=""/> --><!--<a>Reason Code</a></li>
	<!--<li id="receipt-settings"><!-- <img src="img/settings-receipt@2x.png" width="30" height="30" alt=""/> --><!--<a>Receipt</a></li>
	<!--<li id="signature-settings"><!-- <img src="img/settings-signature@2x.png" width="30" height="30" alt=""/> --><!--<a>Signature</a></li>
  <!--</ul>
  <div  id="right-pane-content" class="tab-content">
    ...
  </div>
</div> -->
