<div>
  <div class="salesrep-detail" style="float: left; width: 70%">
    <span data-role="none" id="chkOption-<%= cid %>"  class="icon-check-empty custom-check salesrep-checkoption" style="width: 10%;color: Black; float: left; margin-top: 13px; margin-left: 5%"> 
    </span>
    <h4 class="ui-li-heading"><%= SalesRepGroupName %></h4>
  </div>
  <div class="salesrep-commission" style="float: right; width: 30%">
    <h5 id="commission-display"><%= CommissionPercent %>%</h5>
    <input id="changeCommission-input" type="text" max="100">
  </div>
    <br class="clearfloat"/>
</div>







