<div id="settings-page">

	<div id="settings-blockoverlay" class="blockOverlay" style="display: none; z-index: 999"></div>

	<div id="settings-main-header">
		<div id="main-header-content">
		<a id="back-main"><i class="icon-chevron-sign-left back-settings-main"></i></a>
			<ul class="setting-item-list">
				<li class="settings-item-tab-header"><span>Settings</span></li>
				<li id="general-settings" class="settings-item-tab-active">GENERAL</li>
				<li id="category-settings" class="settings-item-tab">CATEGORY</li>
				<li id="discount-settings" class="settings-item-tab">DISCOUNT</li>
				<li id="override-settings" class="settings-item-tab">OVERRIDE</li>
				<li id="reason-settings" class="settings-item-tab">REASON CODE</li>
				<li id="receipt-settings" class="settings-item-tab">RECEIPT</li>
				<li id="signature-settings" class="settings-item-tab">SIGNATURE</li>
				<li id="user-settings" class="settings-item-tab">ACCOUNTS</li>
				<li id="dejavoo-settings" class="settings-item-tab">DEJAVOO</li>
			</ul>
		</div>
	</div>

	<div id="settings-main-content">
	</div>

	<div id="settings-modal-container">
	</div>

	<br class="clearfloat"/>
		<!-- Closing Amount -->
	 <div id="closingAmountContainer"></div>
	<!-- Print Preview -->
	 <div id="printPreviewContainer"></div>
     <div id="printSetupContainer"></div>
     <div id="confirmPasswordContainer"></div>

</div>

<!-- <div id="settings-page" class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li id="general-settings"><!-- <img src="img/settings-general@2x.png" width="30" height="30" alt=""/> --><!--<a>General</a></li>
	<!--<li id="category-settings"><!-- <img src="img/settings-category@2x.png" width="30" height="30" alt=""/> --><!--<a>Category</a></li>
	<!--<li id="discount-settings"><!-- <img src="img/settings-discount@2x.png" width="30" height="30" alt=""/> --><!--<a>Discount</a></li>
	<!--<li id="override-settings"><!-- <img src="img/settings-manageroverride@2x.png" width="30" height="30" alt=""/> --><!--<a>Manager Override</a></li>
	<!--<li id="reason-settings"><!-- <img src="img/settings-reason@2x.png" width="30" height="30" alt=""/> --><!--<a>Reason Code</a></li>
	<!--<li id="receipt-settings"><!-- <img src="img/settings-receipt@2x.png" width="30" height="30" alt=""/> --><!--<a>Receipt</a></li>
	<!--<li id="signature-settings"><!-- <img src="img/settings-signature@2x.png" width="30" height="30" alt=""/> --><!--<a>Signature</a></li>
  <!--</ul>
  <div  id="right-pane-content" class="tab-content">
    ...
  </div>
</div> -->
