<!-- <div id="loginBg"></div> -->
<div id="loginLogo"></div>
<div id="loginForm">
	<input class="loginFormInput" id="username" placeholder="Username" value=""/>
	<a id="usernameClearTxt" class="clearTextBtn" ></a> 
	<input class="loginFormInput"  id="password" type="password" placeholder="Password" value=""/>
	<a id="passwordClearTxt" class="clearTextBtn" ></a>
	<a class="loginFormButton" data-role="button" id="connection-btn">Connection</a>
	<a class="loginFormButton" data-role="button" id="login-btn">Log In</a>
</div>
<div id="connectionContainer"></div>
