<!-- PREBRON 05.10.13 -->

<div class="customers-page" id="customers-page">
	
	<div id="customers-page-blockoverlay" class="blockOverlay" style="display: none; z-index: 99">
		 <center><div style="margin-top:300px;"><i class="icon-spinner icon-spin" style=" font-size:100px; color:Black"></i></div></center>
	</div>
	<!-- Add New Postal -->
    <div id="addPostalCodeContainer"></div>
    <!--HEADER-->  
    <div class="header" id="header">            
    </div>

    <!--BODY-->  
    <div class="body" id="body">
    </div>  
    
    <div id="notification-overlay">
        <center>
            <div><i class="icon-ok">&nbsp; <span class="message"></span></i></div>
        </center>
    </div>     
</div>
 

	