<div id="itemDetail" class="interprise-popover-container">
	<div class="interprise-popover-header popover-header">
			<div class="popover-left">
				<a class="popover-btn-back" id="back-itemDetail"><span></span>Item</a>
				<a class="popover-btn-back" id="back-accessory"><span></span>Accessory</a>
				<a class="popover-btn-back" id="back-substitute"><span></span>Substitute</a>
			</div>
			<h1 id="itemDetail-title">Item</h1>
			<div class="popover-right">
				<a class="popover-btn" id="done-itemDetail">Done</a>
				<a class="popover-btn" id="add-itemDetail">Add</a>
			</div>
	</div>
	<br class="clearfloat"/>
	<div id="itemDetail-inner" class="interprise-popover-content versionfourtheen-itemDetail-inner">
		<div id="itemDetail-top-wrapper">
			<img src="<%= ImageLocation %>" onerror="this.onerror=null; this.src='img/ItemPlaceHolder.png';" class="product-img" alt="" />
			<div style="word-wrap:break-word!important">
				<h3 class="product-name"><%= ItemNameDisplay %></h3><br/>
				<span class="product-desc" style="word-break: break-word;"><%= ItemDescriptionDisplay %></span>
			</div>
			<br class="clearfloat"/>
		</div>
		<div id="itemDetail-content"></div>
        <span class="kiosk-itemdetail-clearfloat"></span>
	</div>
</div>