 
<div class="general-details" id="general-details">    
<center>
    <table class="table-preview"> 
        <!--tr> <td class="preview"><center><div class="contact-image" id="contact-image">
            <div class="default"><i class="icon-user"></i></div>
        </div></center></td> </tr-->    
        <tr> <td class="preview"><center><div class="contact-name" id="contact-name"><%= FormattedName %></div></center></td> </tr>   
        <tr> <td class="preview"><center><div class="contact-price" id="contact-price"><i><%= ContactCode %></i></div></center></td> </tr>  
    </table>    
    <table class="table-data">         	           
        <tr> <td class="caption">Customer Name :</td>
        	<td>
        		<input class="cs-input data-entity-name" id="data-entity-name" placeholder="Entity Name" value="<%= FormattedEntityName %>" readonly="true"/>
        		<!--<div class="btn-search-entity-name" id="btn-search-entity-name"> <img src="img/magnify.png" width="16" height="16" style="padding:7px;"> </div>-->
    		</td>
    	 </tr>
    	 <tr> <td class="caption">Name :</td> <td><input class="cs-input data-contact-full-name" id="data-contact-full-name" placeholder="John Doe" " value="<%= FormattedName %>"/></td> </tr>
        <tr> <td class="caption">Country :</td> <td> <select class="cs-input data-country" id="data-country"> </select> </td> </tr>
        <!--tr> <td class="caption">Country :</td> <td><input class="cs-input data-ItemName" id="data-ItemName" placeholder="Country" value="<%= Country %>"/></td> </tr-->  
        <tr> <td class="caption">Zip Code :</td> <td><input class="cs-input data-postal-code" id="data-postal-code" placeholder="90210" value="<%= PostalCode %>"/></td> </tr>                    
        <tr> <td class="caption">Address :</td> <td><textarea rows="3" class="cs-input data-address" id="data-address" placeholder="Address"><%= Address %></textarea></td> </tr>
        <tr> 
        	<td class="caption">City | State :</td> 
        	<td> 
                <select class="cs-input data-city " id="data-city" style="float:left !important"> </select> <!--input class="cs-input data-city" id="data-city" placeholder="City" value="<%= City %>"/-->
                <input class="cs-input data-state version14" id="data-state" placeholder="State" value="<%= State %>" style="margin-left:11px !important" />
        	</td>
        </tr>    
        <tr> <td class="caption">Email :</td> <td><input class="cs-input data-email" type="email" id="data-email" placeholder="test@test.com" value="<%= Email1 %>"/></td> </tr>
        <!--tr> <td class="caption">County :</td> <td><input class="cs-input data-ItemName" id="data-ItemName" placeholder="County" value="<%= County %>"/></td> </tr-->   
        <tr> <td class="caption">Business Phone :</td> <td><input class="cs-input data-business-phone" id="data-business-phone" placeholder="Telephone" value="<%= BusinessPhone %>"/></td> </tr>   
                 
        <!--tr> <td class="caption">Zip Code :</td> <td> 
            <select class="cs-input data-ItemType" id="data-ItemType"> 
            </select>     
        </td> </tr> 
        
        <tr> <td class="caption">Serialize Lot :</td> <td> 
            <select class="cs-input data-SerializeLot" id="data-SerializeLot"> 
            </select>     
        </td> </tr--> 
    </table>
</center>
</div>



