 
<div class="general-details" id="general-details">    
<center>
    <table class="table-preview"> 
        <!--tr> <td class="preview"><center><div class="item-image" id="item-image">
            <div class="default"><i class="icon-tag"></i></div>
        </div></center></td> </tr-->     
        <tr> <td class="preview"><center><div class="item-name" id="item-name"><%= ItemName %></div></center></td> </tr>   
        <tr> <td class="preview"><center><div class="item-price" id="item-price"><i><%= ItemCode %></i></div></center></td> </tr>  
    </table>
    <table class="table-data">                    
    	<tr> <td class="caption-left">Transaction Date </td> <td> :</td> <td> <%= ConvertedTransactionDate %> </td> </tr> 
    	<tr> <td class="caption-left">Opening Balance Code </td> <td> :</td> <td> <%= OpeningBalanceCode %> </td> </tr>
    	<tr> <td class="caption-left">Warehouse Code </td> <td> :</td> <td> <%= WarehouseCode %> </td> </tr>
    	<tr> <td class="caption-left">Quantity </td> <td> :</td> <td> <%= Quantity %> </td> </tr> 
    	<tr> <td class="caption-left">Unit of Measure </td> <td> :</td> <td> <%= UnitMeasureCode %> </td> </tr> 
    	<tr> <td class="caption-left">Cost</td> <td> :</td> <td> <%= Cost %> </td> </tr> 
    </table>
</center>
</div>
