<div id="customer-detail-content">
	<div id="detail-top-wrapper">
		<div>
			<!-- <h3 class="customer-name"><%= CustomerName.substring(0,40) %></h3> -->
			<h3 class="customer-name"><%= FormattedCustomerName %></h3>
			<span class="customer-code"><%= CustomerCode %></span>
		</div>
	</div>
	<div id="detail-bottom-wrapper">
		<div id="detail-content">
			<ul data-role="listview" data-inset="true">
				<li><span class="list-detail-left">Country</span><span class="list-detail-right"><%= Country %></span></li>
				<li><span class="list-detail-left">Address</span><span class="list-detail-right"><%= DisplayAddress %></span></li>
				<li><span class="list-detail-left">City</span><span class="list-detail-right"><%= City %></span></li>
				<li><span class="list-detail-left">State</span><span class="list-detail-right"><%= State %></span></li>
				<li><span class="list-detail-left">Zip Code</span><span class="list-detail-right"><%= PostalCode %></span></li>
				<li><span class="list-detail-left">Email</span><span class="list-detail-right"><%= Email %></span></li>
				<li><span class="list-detail-left">Phone</span><span class="list-detail-right"><%= Telephone %></span></li>
					<li><span class="list-detail-left">Loyalty Points</span><span class="list-detail-right"><%= format("#,###",OutstandingPoints) %></span></li>
			</ul>
			
			<!--ul data-role="listview" data-inset="true">
				<li><span class="list-detail-left">Email</span><span class="list-detail-right"><%= Email %></span></li>
			</ul>
			
			<ul data-role="listview" data-inset="true">
				<li><span class="list-detail-left">Phone</span><span class="list-detail-right"><%= Telephone %></span></li>
			</ul>
			
			<ul data-role="listview" data-inset="true">
				<li><span class="list-detail-left">Loyalty Points</span><span class="list-detail-right"><%= OutstandingPoints %></span></li>
			</ul>
            
            <!--FEB-01-2013 , FEATURE NOT YET INCLUDED IN CONNECTEDTOUCH -->
			<!-- <a data-role="button" data-theme="r" id="editCustomer">Edit Customer</a> -->
		</div>
		
	</div>
</div>
