<div id="main-transaction-page">
	<div id="content-wrapper">
		<div id="item-wrapper">
			<div id="headerInfoContainer"></div>
			<div id="searchContainer"></div>
			<div id="categoryContainer"></div>
			<div id="itemContainer"></div>
			
		</div>
		<div id="cartContainer">			
		</div>
		<br class="clearfloat"/>
	</div>
	<div id="button-container">
		<a class="bottom-btn" id="review-transaction-btn">Transactions</a>
		<a class="bottom-btn payment" id="coupon-btn">Coupon</a>
		<a class="bottom-btn cancel" id="void-btn">Cancel</a>
		<a class="bottom-btn complete" id="complete-btn">Complete</a>
	</div>
	<div id="main-transaction-blockoverlay" class="blockOverlay" style="display: none;"></div>
	<div id="popup-modalOverlay" style="display: none;"></div>
	<!-- New Payment (Cash/Check/Credit Card) -->
	<div id="paymentContainer"></div>
	
	<!-- Refund (Check/Credit Card) -->
	<div id="refundContainer"></div>
	
	<!-- Payments made on transaction -->
	<div id="paymentsContainer"></div>
	
	<!-- Review Transactions (Sales/Orders/Quotes) -->
	<div id="transactionsContainer"></div>
	
	<!-- Serialize Lot Container -->
	<div id="serialLotContainer"></div>
	
	<!-- Coupon -->
	<div id="couponContainer"></div>
	
	<!-- Scan Coupon -->
	<div id="scanCouponContainer"></div>
	
	<!-- Signature -->
	<div id="signatureContainer"></div>
	
	<!-- Print Options -->
	<div id="printOptionsContainer"></div>
	<!--Customer PO -->
	<div id="customerPOContainer"></div>
	
	<!-- Print Preview -->
	<div id="printPreviewContainer"></div>
    <div id="printSetupContainer"></div>

	<!-- Manager Override -->
	<div id="managerOverrideContainer"></div>
	
	<!-- Opening Amount -->
	<div id="openingAmountContainer"></div>
	
	<!-- Closing Amount -->
	<div id="closingAmountContainer"></div>
	
	<!-- Print Z-Tape/X-Tape -->
	<div id="printTapeContainer"></div>

	<!-- Order Notes -->
	<div id="orderNotesContainer"></div>
	
	<!-- Gift Card -->
	<div id="giftCardContainer"></div> 
	<!-- UPC Item List-->
	<div id="upcItemListContainer" style="display: none;"></div>
	<!-- Add New PostalCode -->
    <div id="addPostalCodeContainer"></div>

    <!-- Pickup List -->
    <div id="pickup-list-container"></div>
    <!-- Tax Override List -->
    <div id="tax-override-list"></div>
    <!-- Bundle Configurator -->
    <div id="bundle-configurator-container"></div>
    <!--Kit Configurator-->
    <div id="kit-configurator-container"></div>
	
	<div id="promotion-configurator-container"></div>
  
    <div id="salesrep-container"></div>
</div>
