<div id="bundle-configurator" class="interprise-popover-container">
  <div class="interprise-popover-header popover-header">
    <h1 id="bundle-configurator-title">Bundle Configurator</h1>
    <div class="popover-left">
      <a class="popover-btn" id="cancel">Cancel</a>
    </div>
    <div class="popover-right">
      <a class="popover-btn" id="done">Done</a>
    </div>
  </div>
  <div class="clearfloat"></div>
  <div id="bundle-configurator-inner" class="interprise-popover-content">
    <div id="bundle-configurator-content">
      <div id="bundle-configurator-info">
        <div class="bundle-left">
          <h2>Bundle Code: <%= BundleCode %></h2>
          <h3>Description: <%= BundleDescription %></h3>
        </div>
        <div class="bundle-right">
          <div>
            <h2>Quantity:</h2>
            <input type="number" value="1" min="1" id="qty"/>
          </div><br class="clearfloat"/>
          <div>
            <h2>Total: </h2>
            <h3 id="total"><%= Currency %><span><%= Total %></span></h3>
          </div>
        </div>
      </div>
      <div id="bundle-configurator-list" class="bundle-left">
        <ul data-inset="true" data-role="listview"> 
        </ul>
      </div>
      <div id="bundle-configurator-preview"></div>
    </div>
  </div>
</div>
