<%
var reportingStyle = '';
if(HideReporting) reportingStyle = 'style="display:none"';
%>

<div id="dashboard-blockoverlay" class="ui-widget-overlay" style="display: none;"></div>
<div id="dashboard-page">
	<header id="dashboard-top" class="dashboard-header">
		<div id="dashboard-banner"></div>		
		<div id="dashboard-userInfo">
			<p id="userInfo"><%= Username %></p>
			<p id="dashboard-logout">Log Out</p>
		</div>		
		<br class="clearfloat"/>
	</header>	
	
	<aside class="right-pane"></aside>
	<aside class="left-pane"></aside>
	
		
	<section class="middle-pane">
		<div id="dashboard-body">
			<div id="dashboard-swipe">
				<div id="dashboard-page-CSlogo"></div>
				<ul class="swipe-wrap">				
					<li id="dashboard-page1">
						<div class="appIcon-wrapper">							
							<div id="pos-appIcon">
								<a id="pos" />
							</div>
							<!-- <p>POS</p> -->
							
						</div>
						<!-- <div id="kiosk" class="appIcon-wrapper">
							<div id="kiosk-appIcon"></div>
							<p>Kiosk</p>	
						</div> -->
						<div class="appIcon-wrapper">
							<div id="contacts-appIcon">
								<a id="customers" />
							</div>
							<!-- <p>Customers</p>	 -->
							
						</div>
						<div class="appIcon-wrapper">
							<div id="secondary-appIcon">
								<a id="secondary" />
							</div>
							<!-- <p>Secondary Display</p>	 -->
							
						</div>
						<div class="appIcon-wrapper">
							<div id="products-appIcon">
								<a id="products" />
							</div>
							<!-- <p>Products</p>	 -->
							
						</div>						
						<div id="reports-wrapper" class="appIcon-wrapper" <%= reportingStyle %> >
							<div id="reports-appIcon">
								<a id="reports" />
							</div>
							<!-- <p>Reporting</p>	 -->
							
						</div>
						<div id="setting-wrapper" class="appIcon-wrapper">
							<div id="setting-appIcon">
								<a id="setting" />
							</div>
							<!-- <p>Settings</p>	 -->
							
						</div>	
					</li>					
				</ul>	
			</div>	
		</div>	
	</section>
	<p id="dashboard-version"><%= Version %></p>	
</div>