
<div id="maintain-user-account-wrapper">
<div id="maintanUserAccount">
		<div data-role="fieldcontain" id="user-code-container">
			<label for="userID">User ID :</label>
			<input id="userID" type="text" style=" width: 74% !important;" value="<%= UserCode %>" readonly="readonly" />			
		</div>
		
		<div data-role="fieldcontain" id="user-name-container">
			<label for="userName">User Name :</label>
			<input id="userName" type="text" value="<%= UserName %>" style=" width: 74% !important;"/>			
		</div>
		
		<div data-role="fieldcontain" id="password-container">
			<label for="password">Password :</label>
			<input id="password" type="password" style=" width: 74% !important;" readonly="true"  value="" placeholder="***********"/>			
		</div>	

		<div data-role="fieldcontain" id="role-code-container">
			<label for="drpRoleCode">Type :</label>
			<div class = "roleCodeContainer" > 
				<select class = "drpRoleCode" id="drpRoleCode" >
                	<option value="">Type</option>
				</select>
			</div >			
		</div>
		<div id="btnActionContainer">
			<a id="saveBtn" class="ui-btn-text">Update</a>
			<a id="removeBtn" class="ui-btn-text">Remove</a>
		</div>
		<div id="confirm-password-div" style="z-index: 99;"></div>
</div>

<br/>
</div>