<div id="general-pane">
		<!--div id="generalHeader-title"><span>Detail</span></div-->
		<div id="generalHeader">
			<div id="adjustmentCode-div">
				<label for="adjustment-code"> Adjustment Code:</label> 
				<input type="text" class ="cs-input" readonly="readonly" id="adjustment-code" value="<%= AdjustmentCode %>"/>	
			</div>
			<div id="transactionDate-div">
				<label for="transactionDate"> Transaction Date:</label> 
				<input type="text" class ="cs-input" readonly="readonly" id="transactionDate" value="<%= TransactionDate %>"/>	
			</div>
			
		</div>
		<div id="inventoryItemsContainer">
			<div id= "inventoryItems-Title">
				<div id="inventoryItemsTableHeader" class="inventoryItemsDetails">
				<table id ="inventoryItemsDetails"class="table" cellspacing="0" style="width:100%;">
					<thead>
						<td class="inventoryItem-itemName" style="font-weight: bold;">Item Name</td>
						<td class="inventoryItem-warehouseCode" style="font-weight: bold">Location</td>
						<!--td class="inventoryItem-unitMeasureCode" style="font-weight: bold">UM. Code</td-->
						<!--td class="inventoryItem-unitMeasureQuantity" style="text-align: right;font-weight: bold">UM. Qty.</td-->
						<td class="inventoryItem-originalQuantity" style="text-align: right;font-weight: bold">Orig.</td>
						<td class="inventoryItem-quantity" style="text-align: right;font-weight: bold">Qty.</td>
						<td class="inventoryItem-quantityAfter" style="text-align: right;font-weight: bold">After</td>
						<td class="inventoryItem-cost" style="text-align: right;font-weight: bold;">Cost</td>
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>
			</div>
			<div id="inventoryItems-area">
				
			</div>
		</div>
		
		
	
	<!--div id="btnActionContainer">
		<span id="stockSaveBtn" class="cs-input"><i class="icon-save"></i></span>
		<span id="stockRemoveBtn" class="cs-input"><i class="icon-trash"></i></span>
	</div-->
</div>
