<div id="settings-creditcard">
	<br />
	<div data-role="fieldcontain">
		<label for="merchantlogin" style="margin-left:14px;"> Merchant Login :</label>
		<input id="merchantlogin" type="text" style=" width: 72% !important;" value="<%= MerchantLogin %>"/>			
	</div>

	<div data-role="fieldcontain">
		<label for="merchantpassword" style="margin-left:14px;"> Password :</label>
		<input id="merchantpassword" type="password" style=" width: 72% !important;" placeholder="<%= PasswordPlaceholder %>"/>			
	</div>
    <br />
    
    <div data-role="fieldcontain" id="carddevicetype-container" style="display:none;">
        <div style="border: 1px solid; border-color: gray; width: 95%; height: 10%; position: relative; left: 10px;"></div>
        <br />
        <label for="carddevicetype"> Card Device Type :</label>
        <select id="carddevicetype">
            <option value="Unimag"> Unimag</option>
            <option value="IPS"> IPS</option>
            <option value="No Device"> No Device</option>
        </select>
    </div>