				
<td class="inventoryItem-itemName"><%= ItemName %></td>
<td class="inventoryItem-warehouseCode"><%= WarehouseCode %></td>
<!--td class="inventoryItem-unitMeasureCode"><%= UnitMeasureCode %></td-->
<!--td class="inventoryItem-unitMeasureQuantity" style="text-align: right"><%= UnitMeasureQuantity %></td-->
<td class="inventoryItem-originalQuantity" style="text-align: right"><%= OriginalQuantity %></td>
<td class="inventoryItem-quantity" style="text-align: right"><%= Quantity %></td>
<td class="inventoryItem-quantityAfter" style="text-align: right"><%= QuantityAfter %></td>
<td class="inventoryItem-cost" style="text-align: right"><%= format("#,##0.00", Cost.toFixed(2)) %></td>