
<div id="connectionForm" class ="interprise-popover-container">
		<div class="interprise-popover-header">
			<div class="popover-left">
				<!-- <a class="popover-btn">Cancel</a> -->
				<a class="popover-btn" id="done-url">Done</a>
			</div>
			<h1>Connection Settings</h1>
			<!-- <div class="popover-right">
				<a class="popover-btn" id="done-url">Done</a>
			</div> -->
		</div>
		<br class="clearfloat"/>
		<div class="interprise-dialog-content">
			
			<h2>Choose a Server...</h2>
			<div id="serviceUrl-container">
				<input type="url" id ="serviceUrl" placeholder="Add Connection..."/>
				<a id="addconnection-btn">
					<i class="icon-plus" ></i>
				</a>
			</div>
			<br class="clearfloat"/>

			<a id="serviceUrlClearBtn" class="clearTextBtn clearTextConnectionUrlBtn"></a> 
			<div id="urlContainer">
			</div>
		</div>
		<div id="connection-overlay" class = "connection-overlay" style="display:none;"></div>		
</div>
