 
<div class="general-details" id="general-details">    
<center>
    <table class="table-preview"> 
        <!--tr> <td class="preview"><center><div class="contact-image" id="contact-image">
            <div class="default"><i class="icon-user"></i></div>
        </div></center></td> </tr-->    
        <tr> <td class="preview"><center><div class="customer-name" id="customer-name"><%= FormattedName %></div></center></td> </tr>   
        <tr> <td class="preview"><center><div class="customer-code" id="customer-code"><i><%= CustomerCode %></i></div></center></td> </tr>  
    </table>    
    <table class="table-data" id="table-data">         	           
    	<tr> <td class="caption">Customer Name :</td> <td><input class="cs-input data-customer-name" id="data-customer-name" maxlength="50" placeholder="John Doe" " value="<%= FormattedName %>"/></td> </tr>
        <tr> <td class="caption">Postal Code :</td> <td><input class="cs-input data-postal-code" id="data-postal-code" placeholder="90210" value="<%= PostalCode %>"/></td> </tr>
        <tr> <td class="caption">Address :</td> <td><textarea rows="3" class="cs-input data-address" id="data-address" placeholder="Address"><%= Address %></textarea></td> </tr>
        <tr> 
        	<td class="caption">City | State :</td> 
        	<td>
                <select class="cs-input data-city " id="data-city" style="float:left !important"> </select>
                <input class="cs-input data-state " id="data-state" placeholder="State" value="<%= State %>" style="margin-left:11px" /> 
        	</td>
        </tr>
        <tr> <td class="caption">Country :</td> <td> <select class="cs-input data-country" id="data-country"> </select> </td> </tr>
        <tr> <td class="caption">Phone :</td> <td><input class="cs-input data-telephone" id="data-telephone" placeholder="Telephone" value="<%= Telephone %>"/></td> </tr>  
        <tr> <td class="caption">Email :</td> <td><input class="cs-input data-email" type="email" id="data-email" placeholder="johndoe@johndoe.com" value="<%= Email %>"/></td> </tr> 
        <tr> <td class="caption">Website :</td> <td><input class="cs-input data-website" id="data-website" placeholder="www.johndoe.com" value="<%= Website %>"/></td> </tr> 
        <!--<tr> <td class="caption">Customer Type :</td> <td> <select class="cs-input data-customertype" id="data-customertype"> <option>Retail</option> <option>Wholesale</option> </select> </td> </tr> -->
        
        <tr class="tr-ClassTemplate"> <td class="caption">Customer Class :</td> <td> <select class="cs-input data-class-template" id="data-class-template"> <option>No Class Template</option> </select> </td> </tr>
        <tr class="tr-shipToClassTemplate"> <td class="caption">Ship To Class :</td> <td> <select class="cs-input data-shiptoclass-template" id="data-shiptoclass-template"> <option>No Class Template</option> </select> </td> </tr>

         <tr class="tr-LoyaltyPoints"> 
         			<td class="caption">Loyalty Points :</td> 
         			<td> <input type="text" id="data-loyaltypoints" readonly="readonly" class="cs-input data-loyaltypoints" value="<%= OutstandingPoints%>" /> 
	         			<span id="chkloyalty-points" class="icon-check-empty custom-check" style="padding-left: 3px"> 
						</span>
						<label>Track Loyalty Points</label>
					</td>
         </tr>
        <!--tr> <td class="caption">Payment Term :</td> <td><input class="cs-input data-payment-term" id="data-payment-term" placeholder="Payment Term" readonly="readonly" value="<%= PaymentTermCode %>"/></td> </tr>
        <tr> <td class="caption">Tax Code  :</td> <td><input class="cs-input data-tax-code" id="data-tax-code" placeholder="Tax Code" readonly="readonly" value="<%= TaxCode %>"/></td> </tr-->
        	
        <!--tr> <td class="caption">Zip Code :</td> <td> 
            <select class="cs-input data-ItemType" id="data-ItemType"> 
            </select>     
        </td> </tr> 
        
        <tr> <td class="caption">Serialize Lot :</td> <td> 
            <select class="cs-input data-SerializeLot" id="data-SerializeLot"> 
            </select>     
        </td> </tr--> 
    </table>
</center>
</div>



