	<div id="ordernotes-header">
		<h5><%= FormHeader %> Note to <%= TransactionType %> [<%= InvoiceCode %>]</h5>
		<br/>
	</div>
	<div id="ordernotes-content">
		<div id="ordernotes-notebody"><textarea id="ordernotes-textarea" class="ordernotes-textarea"><%= Note %></textarea></div>
		<br/><br/>
		<div id="ordernotes-button">
			<a data-role="button" id="cancel-ordernotes" class="btn-ordernotes-cancel">Clear</a>
			<a data-role="button" id="save-ordernotes"   class="btn-ordernotes-save">Save</a>
		</div>
	</div>