<div id="settings-discount">
	<br/>
	<h3 style="margin: 0 12px 0 10px; font-weight: 700 !important;">Sale</h3>
	<ul data-role="listview" data-inset="true" data-theme="d" id="maxSale-ul">
		<li>Discount
			<div id="AllowSaleDiscount" class="icon-ok-sign settings-items-checkbox ul-li-aside"></div>
			<!-- <h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AllowSaleDiscount"></h1> -->
		</li>
		<!-- <li>Discount<h1 class="ui-li-aside on_off"><input type="checkbox" checked="<%= AllowSaleDiscount %>" id="AllowSaleDiscount" /></h1></li> -->
		<li>Maximum Discount<h1 class="ui-li-aside" id="maxSale"><%= MaxSaleDiscount %>%</h1></li>
		<li id="AllowSaleDiscount-max"><div id="maxSale-Slider" class="slider">
				<div class="track"></div>
				<div class="knob" role="slider"></div>
			</div>
		</li>
	</ul>
	<br/>
	<h3 style="margin: 0 12px 0 10px; font-weight: 700 !important;">Item</h3>
	<ul data-role="listview" data-inset="true" data-theme="d" id="maxItem-ul">
		<li>Discount
			<!-- <h1 class="ui-li-aside checkswitch"><input type="checkbox" id="AllowItemDiscount"></h1> -->
			<div id="AllowItemDiscount" class="icon-ok-sign settings-items-checkbox ul-li-aside"></div>
		</li>
		<!-- <li>Discount<h1 class="ui-li-aside on_off"><input type="checkbox" checked="<%= AllowItemDiscount %>" id="AllowItemDiscount" /></h1></li> -->
		<li>Maximum Discount<h1 class="ui-li-aside" id="maxItem"><%= MaxItemDiscount %>%</h1></li>
		<li id="AllowItemDiscount-max"><div id="maxItem-Slider" class="slider">
				<div class="track"></div>
				
				<div class="knob" role="slider"></div>
			</div>
		</li>
	</ul>
	
</div>