<div data-role="fieldcontain">
    <label>Quantity</label>
    
    <span id="quantityOrdered">    	
    <img src="img/remove@2x.png" alt="" class="minus minusItemDetail" />
    <input type="text" value="<%= QuantityDisplay %>" class="input-number thirtheentwoone" id="qtyOrdered-input" maxlength="4" />
        
    <img src="img/add@2x.png" alt="" class="add addItemDetail"/>    
     </span>
     <a id="qtyOrdered-inputClearBtn" class="clearTextBtn"></a> 
</div>	
<div data-role="fieldcontain">
	
    <label for="price">Price</label>
    <input type="text" id="price-input" value="<%= SalesPriceRate.toFixed(2) %>" class="input-number thirtheentwoone"/> 
    <a id="price-inputClearBtn" class="clearTextBtn"></a>  
</div>
<div data-role="fieldcontain">
	<label for="input-number">Discount</label>
	<span id="discount">	
		<% if((Discount % 1) == 0) { %>
			 <input type="text" id="discount-input" value="<%= Discount %>" class="input-number thirtheentwoone" maxlength="5" />
		<% } else { %>	
			  <input type="text" id="discount-input" value="<%= Discount.toFixed(2) %>" class="input-number thirtheentwoone" maxlength="5" />			
		<% } %>	   
	    <!-- <img src="img/discountapplytoall32.png" alt="" class="applyDiscount"/> -->
	    <a data-role="button" data-mini="true" class="applyItemDiscount" id="applyItemDiscount">Apply</a>	
	    <a data-role="button" data-mini="true" class="applyDiscount thirtheentwoone" id="applyDiscount">Apply All</a>	
	</span>  
	 <a id="discount-inputClearBtn" class="clearTextBtn"></a>  
</div>		
<div data-role="fieldcontain">
	<label for="extPrice">Ext Price</label>
    <input type="text" id="extPrice-input" value="<%= ExtPriceRate.toFixed(2) %>" class="input-number thirtheentwoone" readonly="true"/> 
</div>
<div data-role="fieldcontain">
	<label for="tax">Tax</label>
	<input type="text" id="tax-input" value="<%= SalesTaxAmountRate.toFixed(2) || 0 %>" class="input-number thirtheentwoone" readonly="true"/>
</div>
<div data-role="fieldcontain" id="itemDetail-um" class="thirtheentwoone">
	<label for="input-number">Unit Measure</label>
	<select id="itemDetail-umList" data-mini="true">
	</select>
</div>
<div data-role="fieldcontain" id="itemDetail-warehouse" class="thirtheentwoone">
	<label for="input-number">Warehouse</label>
	<select id="itemDetail-warehouseList" data-mini="true">
	</select>
</div>
<br />
<!-- <ul data-role="listview" data-theme="d" data-inset="true" style="margin-bottom:8px;">
	<li id="li-freestock"><a>Free Stock</a></li>
	<li id="li-serialLot"><a>Serial/Lot Numbers</a></li>
	<li id="li-notes"><a>Notes</a></li>
</ul>
<ul data-role="listview" data-theme="d" data-inset="true">
	<li id="li-accessory"><a>Accessory</a></li>
	<li id="li-substitute"><a>Substitute</a></li>	
</ul> -->

<div data-role="controlgroup" data-type="horizontal" data-mini="true" id="controlGroup-btn">
	<a data-role="button" id="li-freestock"><img src="img/freestock.png" width="32" height="32"/><br/><span>Free Stock</span></a>
	<a data-role="button" id="li-serialLot"><img src="img/seriallot.png" width="32" height="32"/><br/><span>Serial | Lot</span></a>
	<a data-role="button" id="li-notes"><img src="img/notes.png" width="32" height="32"/><br/><span>Notes</span></a>
	<a data-role="button" id="li-accessory"><img src="img/accessory.png" width="32" height="32"/><br/><span>Accessory</span></a>
	<a data-role="button" id="li-substitute" style="width: 58px !important;"><img src="img/substitute.png" width="32" height="32"/><br/><span>Substitute</span></a>
</div>


<a data-role="button" data-theme="r" id="btn-remove-item">Remove</a>
