<div id="shiptoForm" class="interprise-popover-container cbForm">
	<div id="shiptoForm-header" class="interprise-popover-header popover-header">
		<div class="popover-left">
			<a id="shipto-cancel-btn" class="popover-btn">Cancel</a>
		</div>
		<h1><%= FormTitle %></h1>
		<div class="popover-right">
			<a id="shipto-save-btn" class="popover-btn">Save</a>
		</div>
	</div>
	<div id="shiptoForm-content"  class="interprise-popover-content" data-role="fieldcontain">
		<label for="shipto-name"><%= Name %></label>
		<input type="text" name="shipto-name" id="shipto-name" placeholder="John Doe" required="required" autocapitalize="words" style="width:55% !important; margin-right:5px;"/>
        <span id="shipto-IsDefaultshipto" class="icon-check-empty custom-check">
        </span>
        <label>Set as Default</label>
		<label for="shipto-PostalCode"> Zip Code</label>
		<input type="text" name="shipto-PostalCode" id="shipto-PostalCode" placeholder="90210"  required="required" pattern="[0-9]*"/>
		<label for="shipto-Address">Address</label>
		<textarea name="shipto-Address" id="shipto-Address" placeholder="Address..." required="required" autocapitalize="words"></textarea>
		<div data-role="fieldcontain">
			<label for="shipto-citystate">City | State</label>
			<div id ="shipto-citystate">
				<div class = "shipto-city-div">	<select id="shipto-City" class="ui-select-country"><option>City..</option></select></div>
				<div class = "shipto-state-div"><input type="text" id="shipto-State" name="shipto-State" placeholder="State..." required="required" /></div>				
			</div>
		</div>	
		<div data-role="fieldcontain">		
			<label for="shipto-country"> Country</label>
			<div id="div-country">
				<select id="shipto-country" class="ui-select"><option>Country..</option></select>
			</div>
		</div>
		
		<!-- temporarily removed.
		<label for="shipto-country"> Country</label>
		<input type="text" id="shipto-country" class="shipto-country" name="shipto-country" placeholder="Country..." required="required" />		
		-->
		<label for="shipto-Phone"> Phone</label>
		<input type="tel" name="shipto-Phone" id="shipto-Phone" placeholder="Phone Number"  required="required"/>
		<label for="shipto-Email"> Email</label>
		<input type="email" name="shipto-Email" id="shipto-Email" placeholder="johndoe@johndoe.com" required="required" />
		<label for="shipto-Site"> Web Site</label>
		<input type="url" name="shipto-Site" id="shipto-Site" placeholder="www.johndoe.com" required="required" />
		
		<div data-role="fieldcontain" id="shipto-ClassTemplate-container" class="shipto2-ClassTemplate-container"> 		
			<label for="cmb-shipto-classtemplate">Class Template</label>
			<div id="div-cmb-shipto-classtemplate" class="cmb-classtemplate" >
				<select id="cmb-shipto-classtemplate" class="ui-select"><option>No Class Template</option></select>
			</div>
		</div>		
		
        <div data-role="fieldcontain" id="shipto-ClassTemplate-container" class="shipto-PaymentTerm-container">
            <label for="shipto-PaymentTerm">Payment Term</label>
            <div id="div-cmb-shipto-classtemplate" class="cmb-classtemplate">
                <select id="shipto-PaymentTerm" class="ui-select"><option>No Payment Term Fetched</option></select>
            </div>
        </div>		

        <div data-role="fieldcontain" id="shipto-ClassTemplate-container" class="shipto-TaxCode-container">
            <label for="shipto-TaxCode">Tax Code</label>
            <div id="div-cmb-shipto-classtemplate" class="cmb-classtemplate">
                <select id="shipto-TaxCode" class="ui-select"><option>No Sales Tax</option></select>
            </div>
        </div>	

	</div>
</div>
