<div class="secondarydisplay-page">
	<div id="main-transaction-blockoverlay" class="blockOverlay" style="display: none;"></div>
	<div class="workstationContainer"></div>	
	<div class="main-toolbar-header">
		<div class="companyInfo">
			<img src="<%= CompanyLogo %>" class="companyLogo" />
			<div>
				<h4 class="companyName"><%= CompanyName %></h4>
			</div>
		</div>
		<div class="toolbar-header-btn">    	
			<!--<a class="header-btn"><img width="24" height="24" src="img/more-btn.png"></a>-->
			<a class="header-btn" style="padding:10px !important;"><i class="icon-list" style="font-size:30px;"></i></a>
		</div>		
	</div>
	<div class="leftpane">
		<div class="ads-container">
			<!-- <iframe class="ads-container" src="<%= AdsSource %>" scrolling="no" seamless></iframe> -->
		</div>			
	</div>

	<div class="rightpane">
		<div class="cart" id="secondarydisplay-cart"></div>
	</div>	

	<!-- Signature-->
	<div id="signatureContainer"></div>

	<!-- Gift Card -->
	<div id="giftCardContainer"></div> 

	<!-- Logout -->
	<div id="secondarydisplay-logout"></div>	
</div>

			

