<div id="customizePrintPreview" class="interprise-popover-container">
	<div class="interprise-popover-header popover-header">
		
		<div class="popover-left">
			<a class="popover-btn" id="btn-cancel">Close</a>
		</div>
			<h1>Print Preview</h1>
		<div class="popover-right">
			<a class="popover-btn" id="btn-print" style="visibility: hidden;">Print</a>
		</div>
	</div>
	<br class="clearfloat"/>
	<div id="testBody" class="interprise-dialog-content">
			<div id="customizePrintContainer" style="position:relative">
				<div id="print-area">
						<iframe id="printFrame" style="position: relative;" src="<%= ServiceUrl %>/Reports/ReportViewer.aspx?transactionCode=<%= transactionCode %>"></iframe> 			
				</div>					
			</div>
	</div>	
</div>
