<configuration>
    <system.webServer>
		<staticContent>
			<remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".less" />
            <mimeMap fileExtension=".less" mimeType="text/css" />
        </staticContent> 	
		<defaultDocument enabled="true">
			<files>
				<remove value="desktop.html" />
				<add value="desktop.html" />
			</files>
		</defaultDocument>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>